.body{
  background-color: rgb(212, 202, 202);
}
.img1{
  height:3em;
 
}
.logo{
  color:#0f0f0f;
}
.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #ffffff;
  color: #000000;
}
.img1{
  color: darkblue;
}
.active1{
  color: red;
  background-color: rgb(252, 222, 222);

}
.inactive1{
  color:rgb(32, 29, 29);
  background-color: 000000;
}
.inactive2{
  color:rgb(136, 219, 12);
}
.button1{
  background-color: #ffffff;
}
.cardtxt{
  color:rgb(201, 192, 192);
}
.cimg{
  height: 40rem;
  width: 65rem;
}
